body {
    width: 100%;
    font-family: Helvetica, serif;
}

table {
    width: 100%;
    height: 70%;
    border-collapse: collapse;
    margin-left: 20px;
    margin-right: -20px;
}

tr {
    border: 0 solid gray;
    border-bottom-width: 1px;
}

.row_divider {
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.cell_divider {
    border-right-color:black;
    border-right-width:2px
}

.last_one_solved {
    font-weight: bold;
    color: #f7e517;
}

.light {
    background-color: #3856f5;
}

.dark {
    background-color: #2b2bcd;
}

td {
    width: 10%;
    height: 10%;
    border: 1px solid black;
    border-bottom-width: 0;
    text-align: center;
    color: #f5f5f5;
    font-size: 22px;
    font-weight: bold;
}

#board {
    float: left;
    width: 60%;
}

#report {
    float: right;
    width: 30%;
    margin-right: 20px;
}

.newBoard {
    width: 50%;
}